
<nav class="my-container">
    <div class="navbar">
        <a href="/">
            <img src="/images/Blog world logo.svg" alt="Logo of Blog World">
        </a>
        <img src="/images/ham.svg" alt="" class="hamberger">
        <ul class="navbar-items">
            <a href="/"><li class="navbar-link">Home</li></a>
            <a href="/#about-us"><li class="navbar-link">About Us</li></a>
            <a href="/blog"><li class="navbar-link">Blog</li></a>
            <a href="/#contact"><li class="navbar-link">Contact</li></a>
            <a href="/blog-form"><li class=""> <button class="btn-create-post">Create Post</button></li></a>
        </ul>
    </div>
</nav> 