<%- include('partials/header')  %>
<body>
    <%- include('partials/navbar') %>
    <div class="blog-hero">
        <div class="content">
            <a href="/blog-form">Create post</a>
            <a href="/blog-post">See your post</a>
        </div>
        <div class="aside">
            <h1>Hello World</h1>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/styles/index.js"></script>
</body>
