<%- include("partials/header") %>  
<body class="blog-bg">
    <nav class="navbar">
        <a href="/">
            <img src="/images/Blog world logo.svg" alt="">
        </a>
        <ul>
            <a href="#"><button class="btn-create-post">Publish</button></a>
        </ul>
    </nav>
    
    <div class="my-container blog-post">
        <h3>Create Post</h3>
        <form action="/submit" method="post" enctype="multipart/form-data">

            <input type="text" class="title title-style" placeholder="Title" name="title">

            <div class="input-head">
                <div class="text-transform input-head-child">
                    <svg class="B" width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.9367 7.54252C12.6245 7.82405 13.8903 8.32454 14.7342 9.04399C15.5781 9.75562 16 10.6862 16 11.8358C16 13.1261 15.4599 14.1427 14.3797 14.8856C13.2996 15.6285 11.5063 16 9 16H0V14.6979C0.902954 14.6979 1.50211 14.5689 1.79747 14.3109C2.09283 14.045 2.24051 13.5249 2.24051 12.7507V3.42522C2.24051 2.67449 2.10127 2.16227 1.82278 1.88856C1.5443 1.61486 0.936709 1.47801 0 1.47801V0.175953L6.59494 0H7.53165C10.5021 0 12.5274 0.344086 13.6076 1.03226C14.6878 1.71261 15.2278 2.64321 15.2278 3.82405C15.2278 4.71554 14.8692 5.47019 14.1519 6.08798C13.443 6.70577 12.3713 7.19062 10.9367 7.54252ZM6.73418 6.86217H7.60759C8.53587 6.86217 9.22785 6.66276 9.68354 6.26393C10.1392 5.85728 10.3671 5.15738 10.3671 4.16422C10.3671 3.42131 10.2236 2.8348 9.93671 2.40469C9.64979 1.97458 9.27004 1.69697 8.79747 1.57185C8.33333 1.44673 7.64557 1.38416 6.73418 1.38416V6.86217ZM6.73418 8.29325V12.8094C6.73418 13.2473 6.78059 13.5797 6.87342 13.8065C6.97468 14.0332 7.16456 14.2248 7.44304 14.3812C7.72996 14.5298 8.1308 14.6041 8.64557 14.6041C9.44726 14.6041 10.0464 14.3421 10.443 13.8182C10.8481 13.2942 11.0506 12.5083 11.0506 11.4604C11.0506 10.6237 10.9198 9.97067 10.6582 9.50147C10.3966 9.02444 10.038 8.70381 9.58228 8.53959C9.12658 8.37537 8.45148 8.29325 7.55696 8.29325H6.73418Z" fill="currentColor"/>
                    </svg>
                    <svg class="I" width="9" height="14" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.68319 15.4572L5.54741 16H0L0.135776 15.4572H0.436422C0.837284 15.4572 1.17672 15.3707 1.45474 15.1976C1.73276 15.0167 1.92026 14.8122 2.01724 14.5841C2.12069 14.3481 2.2694 13.8368 2.46336 13.0501L4.99461 2.86726C5.19504 2.08063 5.29526 1.58899 5.29526 1.39233C5.29526 0.825959 4.87823 0.542773 4.04418 0.542773H3.69504L3.83082 0H9L8.86422 0.542773H8.59267C8.28233 0.542773 8.00108 0.609636 7.74892 0.743363C7.49677 0.877089 7.31573 1.06195 7.20582 1.29794C7.10237 1.53392 6.9278 2.14356 6.68211 3.12684L4.22845 12.9322C4.04095 13.6794 3.9472 14.1514 3.9472 14.3481C3.9472 14.7335 4.08297 15.0167 4.35453 15.1976C4.63254 15.3707 4.94935 15.4572 5.30496 15.4572H5.68319Z" fill="currentColor"/>
                    </svg> 
                    <svg class="U" width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15.0479H16V16H0V15.0479Z" fill="currentColor"/>
                        <path d="M10.9639 0H15.5541V0.429405C14.9462 0.466744 14.4902 0.594321 14.1862 0.812135C13.889 1.02373 13.7066 1.26332 13.639 1.53092C13.5714 1.79852 13.5377 2.31816 13.5377 3.08985V7.29988C13.5377 8.3765 13.4904 9.17619 13.3958 9.69894C13.308 10.2217 13.0445 10.7351 12.6054 11.2392C12.1731 11.7433 11.5617 12.1447 10.7714 12.4434C9.98099 12.7421 9.06902 12.8915 8.03546 12.8915C6.81274 12.8915 5.7758 12.7017 4.92463 12.322C4.08021 11.9362 3.47561 11.4415 3.11082 10.8378C2.75279 10.2279 2.57377 9.41267 2.57377 8.39206L2.5839 7.09451V3.15519C2.5839 2.14702 2.55013 1.49669 2.48257 1.2042C2.42178 0.911707 2.28667 0.709451 2.07725 0.597433C1.87459 0.485414 1.42537 0.429405 0.729566 0.429405H0.415443V0H6.68777V0.429405H6.41418C5.73864 0.429405 5.29617 0.482302 5.08675 0.588098C4.87734 0.68767 4.73548 0.877479 4.66117 1.15753C4.59362 1.43757 4.55984 2.10346 4.55984 3.15519V7.14119C4.55984 8.52275 4.62739 9.50291 4.7625 10.0817C4.90436 10.6604 5.29617 11.1676 5.93793 11.6033C6.57968 12.0327 7.43423 12.2474 8.50157 12.2474C9.33924 12.2474 10.0992 12.1042 10.7815 11.818C11.4705 11.5255 11.9806 11.1645 12.3116 10.7351C12.6493 10.2995 12.8554 9.85453 12.9297 9.40023C13.004 8.93971 13.0412 8.21781 13.0412 7.23454V2.92182C13.0412 2.20614 12.9972 1.70517 12.9094 1.4189C12.8216 1.13263 12.6325 0.905484 12.342 0.737456C12.0515 0.569428 11.5921 0.466744 10.9639 0.429405V0Z" fill="currentColor"/>
                    </svg>
                    <svg class="link" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.76973 23.0274C7.66306 23.0277 6.58117 22.6998 5.66086 22.0852C4.74054 21.4706 4.02316 20.5969 3.59943 19.5746C3.1757 18.5523 3.06465 17.4272 3.28033 16.3418C3.49602 15.2563 4.02874 14.2592 4.81113 13.4766L8.60215 9.68557C9.65279 8.63756 11.0762 8.04901 12.5602 8.04901C14.0441 8.04901 15.4675 8.63756 16.5182 9.68557C17.5664 10.7362 18.155 12.1598 18.155 13.6439C18.155 15.128 17.5664 16.5515 16.5182 17.6022L12.7277 21.3926C12.2082 21.9123 11.591 22.3243 10.9118 22.6048C10.2326 22.8853 9.50461 23.0289 8.76973 23.0274ZM12.5602 9.80334C12.0556 9.80229 11.5559 9.90105 11.0897 10.0939C10.6235 10.2868 10.2001 10.57 9.84375 10.9272L6.05273 14.7182C5.33269 15.4385 4.92826 16.4153 4.92843 17.4338C4.92859 18.4522 5.33333 19.4289 6.05361 20.1489C6.77389 20.869 7.75071 21.2734 8.76918 21.2733C9.78764 21.2731 10.7643 20.8683 11.4844 20.1481L15.2754 16.3571C15.8124 15.8202 16.1782 15.1361 16.3263 14.3914C16.4745 13.6466 16.3984 12.8746 16.1077 12.1731C15.8171 11.4716 15.3249 10.872 14.6934 10.4503C14.0619 10.0286 13.3195 9.80364 12.5602 9.80393V9.80334Z" fill="currentColor"/>
                        <path d="M17.3379 21.1354C16.8608 21.1357 16.3856 21.0746 15.924 20.9537C15.7063 20.8879 15.5225 20.7403 15.4114 20.5419C15.3003 20.3434 15.2704 20.1096 15.328 19.8896C15.3857 19.6696 15.5264 19.4805 15.7206 19.362C15.9148 19.2436 16.1473 19.2051 16.3693 19.2545C17.0173 19.4235 17.6982 19.42 18.3444 19.2444C18.9907 19.0689 19.5797 18.7273 20.0531 18.2537L23.8441 14.4633C24.5643 13.7432 24.9688 12.7665 24.9688 11.7481C24.9688 10.7297 24.5643 9.75296 23.8441 9.03283C23.124 8.31271 22.1473 7.90814 21.1289 7.90814C20.1105 7.90814 19.1338 8.31271 18.4137 9.03283L14.6232 12.8238C14.151 13.2984 13.8104 13.8877 13.635 14.5338C13.4595 15.1799 13.4552 15.8605 13.6225 16.5088C13.669 16.7299 13.6287 16.9604 13.5097 17.1525C13.3908 17.3446 13.2025 17.4836 12.9839 17.5405C12.7652 17.5974 12.533 17.5679 12.3356 17.4582C12.1381 17.3485 11.9904 17.1669 11.9232 16.9512C11.6794 16.0064 11.6856 15.0145 11.9415 14.0729C12.1973 13.1313 12.6938 12.2725 13.3822 11.5811L17.1727 7.79006C17.6875 7.2495 18.3053 6.81739 18.9896 6.51915C19.674 6.22091 20.4111 6.06257 21.1575 6.05346C21.904 6.04434 22.6447 6.18463 23.3361 6.46606C24.0275 6.74749 24.6557 7.16438 25.1836 7.6922C25.7115 8.22003 26.1285 8.84811 26.41 9.53949C26.6915 10.2309 26.8319 10.9716 26.8229 11.718C26.8139 12.4645 26.6557 13.2016 26.3576 13.886C26.0594 14.5704 25.6274 15.1882 25.0869 15.7031L21.2965 19.4936C20.778 20.0154 20.1612 20.4292 19.4817 20.7111C18.8022 20.9929 18.0735 21.1371 17.3379 21.1354Z" fill="currentColor"/>
                    </svg>
                </div>

                <div class="text-alignment input-head-child">
                    <svg class="left-align" width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.77573 6.46284H25.0985C25.3194 6.46284 25.5313 6.41588 25.6875 6.33229C25.8437 6.24871 25.9314 6.13534 25.9314 6.01713C25.9314 5.89891 25.8437 5.78555 25.6875 5.70196C25.5313 5.61837 25.3194 5.57141 25.0985 5.57141H6.77573C6.55484 5.57141 6.343 5.61837 6.18681 5.70196C6.03062 5.78555 5.94287 5.89891 5.94287 6.01713C5.94287 6.13534 6.03062 6.24871 6.18681 6.33229C6.343 6.41588 6.55484 6.46284 6.77573 6.46284Z" fill="currentColor"/>
                        <path d="M6.77573 10.2562C6.55484 10.2562 6.343 10.3032 6.18681 10.3868C6.03062 10.4704 5.94287 10.5837 5.94287 10.7019C5.94287 10.8202 6.03062 10.9335 6.18681 11.0171C6.343 11.1007 6.55484 11.1477 6.77573 11.1477H20.1014C20.3223 11.1477 20.5341 11.1007 20.6903 11.0171C20.8465 10.9335 20.9343 10.8202 20.9343 10.7019C20.9343 10.5837 20.8465 10.4704 20.6903 10.3868C20.5341 10.3032 20.3223 10.2562 20.1014 10.2562H6.77573Z" fill="currentColor"/>
                        <path d="M18.7572 14.941H6.50001C6.35225 14.941 6.21054 14.988 6.10605 15.0716C6.00157 15.1552 5.94287 15.2685 5.94287 15.3868C5.94287 15.505 6.00157 15.6183 6.10605 15.7019C6.21054 15.7855 6.35225 15.8325 6.50001 15.8325H18.7572C18.9049 15.8325 19.0466 15.7855 19.1511 15.7019C19.2556 15.6183 19.3143 15.505 19.3143 15.3868C19.3143 15.2685 19.2556 15.1552 19.1511 15.0716C19.0466 14.988 18.9049 14.941 18.7572 14.941Z" fill="currentColor"/>
                        <path d="M14.5022 19.6258H6.44636C6.31283 19.6258 6.18476 19.6728 6.09034 19.7563C5.99592 19.8399 5.94287 19.9533 5.94287 20.0715C5.94287 20.1897 5.99592 20.3031 6.09034 20.3867C6.18476 20.4703 6.31283 20.5172 6.44636 20.5172H14.5022C14.6358 20.5172 14.7638 20.4703 14.8583 20.3867C14.9527 20.3031 15.0057 20.1897 15.0057 20.0715C15.0057 19.9533 14.9527 19.8399 14.8583 19.7563C14.7638 19.6728 14.6358 19.6258 14.5022 19.6258Z" fill="currentColor"/>
                    </svg>
                        
                    <svg class="center-align" width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.78516 6.46284H24.108C24.3289 6.46284 24.5407 6.41588 24.6969 6.33229C24.8531 6.24871 24.9408 6.13534 24.9408 6.01713C24.9408 5.89891 24.8531 5.78555 24.6969 5.70196C24.5407 5.61837 24.3289 5.57141 24.108 5.57141H5.78516C5.56427 5.57141 5.35243 5.61837 5.19624 5.70196C5.04005 5.78555 4.9523 5.89891 4.9523 6.01713C4.9523 6.13534 5.04005 6.24871 5.19624 6.33229C5.35243 6.41588 5.56427 6.46284 5.78516 6.46284Z" fill="currentColor"/>
                        <path d="M8.28387 10.2562C8.06299 10.2562 7.85115 10.3032 7.69496 10.3868C7.53877 10.4704 7.45102 10.5837 7.45102 10.7019C7.45102 10.8202 7.53877 10.9335 7.69496 11.0171C7.85115 11.1007 8.06299 11.1477 8.28387 11.1477H21.6096C21.8304 11.1477 22.0423 11.1007 22.1985 11.0171C22.3547 10.9335 22.4424 10.8202 22.4424 10.7019C22.4424 10.5837 22.3547 10.4704 22.1985 10.3868C22.0423 10.3032 21.8304 10.2562 21.6096 10.2562H8.28387Z" fill="currentColor"/>
                        <path d="M24.108 14.941H5.78516C5.56427 14.941 5.35243 14.988 5.19624 15.0716C5.04005 15.1552 4.9523 15.2685 4.9523 15.3868C4.9523 15.505 5.04005 15.6183 5.19624 15.7019C5.35243 15.7855 5.56427 15.8325 5.78516 15.8325H24.108C24.3289 15.8325 24.5407 15.7855 24.6969 15.7019C24.8531 15.6183 24.9408 15.505 24.9408 15.3868C24.9408 15.2685 24.8531 15.1552 24.6969 15.0716C24.5407 14.988 24.3289 14.941 24.108 14.941Z" fill="currentColor"/>
                        <path d="M21.6096 19.6258H8.28387C8.06299 19.6258 7.85115 19.6728 7.69496 19.7563C7.53877 19.8399 7.45102 19.9533 7.45102 20.0715C7.45102 20.1897 7.53877 20.3031 7.69496 20.3867C7.85115 20.4703 8.06299 20.5172 8.28387 20.5172H21.6096C21.8304 20.5172 22.0423 20.4703 22.1985 20.3867C22.3547 20.3031 22.4424 20.1897 22.4424 20.0715C22.4424 19.9533 22.3547 19.8399 22.1985 19.7563C22.0423 19.6728 21.8304 19.6258 21.6096 19.6258Z" fill="currentColor"/>
                    </svg>
                        
                    <svg class="right-align" width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.2243 6.46284H4.90146C4.68057 6.46284 4.46873 6.41588 4.31254 6.33229C4.15635 6.24871 4.0686 6.13534 4.0686 6.01713C4.0686 5.89891 4.15635 5.78555 4.31254 5.70196C4.46873 5.61837 4.68057 5.57141 4.90146 5.57141H23.2243C23.4452 5.57141 23.657 5.61837 23.8132 5.70196C23.9694 5.78555 24.0571 5.89891 24.0571 6.01713C24.0571 6.13534 23.9694 6.24871 23.8132 6.33229C23.657 6.41588 23.4452 6.46284 23.2243 6.46284Z" fill="currentColor"/>
                        <path d="M23.2243 10.2562C23.4452 10.2562 23.657 10.3032 23.8132 10.3868C23.9694 10.4704 24.0571 10.5837 24.0571 10.7019C24.0571 10.8202 23.9694 10.9335 23.8132 11.0171C23.657 11.1007 23.4452 11.1477 23.2243 11.1477H9.89859C9.6777 11.1477 9.46586 11.1007 9.30967 11.0171C9.15348 10.9335 9.06573 10.8202 9.06573 10.7019C9.06573 10.5837 9.15348 10.4704 9.30967 10.3868C9.46586 10.3032 9.6777 10.2562 9.89859 10.2562H23.2243Z" fill="currentColor"/>
                        <path d="M11.2428 14.941H23.5C23.6477 14.941 23.7895 14.988 23.8939 15.0716C23.9984 15.1552 24.0571 15.2685 24.0571 15.3868C24.0571 15.505 23.9984 15.6183 23.8939 15.7019C23.7895 15.7855 23.6477 15.8325 23.5 15.8325H11.2428C11.0951 15.8325 10.9534 15.7855 10.8489 15.7019C10.7444 15.6183 10.6857 15.505 10.6857 15.3868C10.6857 15.2685 10.7444 15.1552 10.8489 15.0716C10.9534 14.988 11.0951 14.941 11.2428 14.941Z" fill="currentColor"/>
                        <path d="M15.4978 19.6258H23.5536C23.6872 19.6258 23.8152 19.6728 23.9097 19.7563C24.0041 19.8399 24.0571 19.9533 24.0571 20.0715C24.0571 20.1897 24.0041 20.3031 23.9097 20.3867C23.8152 20.4703 23.6872 20.5172 23.5536 20.5172H15.4978C15.3642 20.5172 15.2362 20.4703 15.1417 20.3867C15.0473 20.3031 14.9943 20.1897 14.9943 20.0715C14.9943 19.9533 15.0473 19.8399 15.1417 19.7563C15.2362 19.6728 15.3642 19.6258 15.4978 19.6258Z" fill="currentColor"/>
                    </svg>
                        
                    <svg class="justify" width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.2243 6.46284H4.90146C4.68057 6.46284 4.46873 6.41588 4.31254 6.33229C4.15635 6.24871 4.0686 6.13534 4.0686 6.01713C4.0686 5.89891 4.15635 5.78555 4.31254 5.70196C4.46873 5.61837 4.68057 5.57141 4.90146 5.57141H23.2243C23.4452 5.57141 23.657 5.61837 23.8132 5.70196C23.9694 5.78555 24.0571 5.89891 24.0571 6.01713C24.0571 6.13534 23.9694 6.24871 23.8132 6.33229C23.657 6.41588 23.4452 6.46284 23.2243 6.46284Z" fill="currentColor"/>
                        <path d="M22.9461 10.2562C23.2408 10.2562 23.5234 10.3032 23.7317 10.3868C23.9401 10.4704 24.0571 10.5837 24.0571 10.7019C24.0571 10.8202 23.9401 10.9335 23.7317 11.0171C23.5234 11.1007 23.2408 11.1477 22.9461 11.1477H5.1704C4.87575 11.1477 4.59316 11.1007 4.38481 11.0171C4.17646 10.9335 4.05942 10.8202 4.05942 10.7019C4.05942 10.5837 4.17646 10.4704 4.38481 10.3868C4.59316 10.3032 4.87575 10.2562 5.1704 10.2562H22.9461Z" fill="currentColor"/>
                        <path d="M4.89265 14.941H23.2239C23.4449 14.941 23.6568 14.988 23.8131 15.0716C23.9693 15.1552 24.0571 15.2685 24.0571 15.3868C24.0571 15.505 23.9693 15.6183 23.8131 15.7019C23.6568 15.7855 23.4449 15.8325 23.2239 15.8325H4.89265C4.67166 15.8325 4.45973 15.7855 4.30346 15.7019C4.1472 15.6183 4.05942 15.505 4.05942 15.3868C4.05942 15.2685 4.1472 15.1552 4.30346 15.0716C4.45973 14.988 4.67166 14.941 4.89265 14.941Z" fill="currentColor"/>
                        <path d="M5.1704 19.6258H22.9461C23.2408 19.6258 23.5234 19.6728 23.7317 19.7563C23.9401 19.8399 24.0571 19.9533 24.0571 20.0715C24.0571 20.1897 23.9401 20.3031 23.7317 20.3867C23.5234 20.4703 23.2408 20.5172 22.9461 20.5172H5.1704C4.87575 20.5172 4.59316 20.4703 4.38481 20.3867C4.17646 20.3031 4.05942 20.1897 4.05942 20.0715C4.05942 19.9533 4.17646 19.8399 4.38481 19.7563C4.59316 19.6728 4.87575 19.6258 5.1704 19.6258Z" fill="currentColor"/>
                    </svg>
                        
                    <svg class="unorder-list" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.28125 4.59375C3.64369 4.59375 3.9375 4.29994 3.9375 3.9375C3.9375 3.57506 3.64369 3.28125 3.28125 3.28125C2.91881 3.28125 2.625 3.57506 2.625 3.9375C2.625 4.29994 2.91881 4.59375 3.28125 4.59375Z" fill="currentColor" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.28125 11.1562C3.64369 11.1562 3.9375 10.8624 3.9375 10.5C3.9375 10.1376 3.64369 9.84375 3.28125 9.84375C2.91881 9.84375 2.625 10.1376 2.625 10.5C2.625 10.8624 2.91881 11.1562 3.28125 11.1562Z" fill="currentColor" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.28125 17.7188C3.64369 17.7188 3.9375 17.4249 3.9375 17.0625C3.9375 16.7001 3.64369 16.4062 3.28125 16.4062C2.91881 16.4062 2.625 16.7001 2.625 17.0625C2.625 17.4249 2.91881 17.7188 3.28125 17.7188Z" fill="currentColor" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 3.9375H18.375" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 10.5H18.375" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 17.0625H18.375" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <svg class="order-list" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.5625 3.9375H18.375" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 10.5H18.375" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.89218 2.81818V5H3.43089V3.25604H3.4181L2.91846 3.56925V3.16016L3.45858 2.81818H3.89218Z" fill="currentColor"/>
                        <path d="M2.73202 11.5V11.1676L3.50866 10.4485C3.57471 10.3846 3.6301 10.3271 3.67485 10.2759C3.7203 10.2248 3.75475 10.1747 3.77819 10.1257C3.80162 10.076 3.81334 10.0224 3.81334 9.96484C3.81334 9.90092 3.79878 9.84588 3.76966 9.79972C3.74055 9.75284 3.70077 9.71697 3.65035 9.69212C3.59992 9.66655 3.54275 9.65376 3.47883 9.65376C3.41206 9.65376 3.35383 9.66726 3.30411 9.69425C3.25439 9.72124 3.21604 9.75994 3.18905 9.81037C3.16206 9.8608 3.14857 9.92081 3.14857 9.99041H2.71072C2.71072 9.84766 2.74303 9.72372 2.80766 9.61861C2.87229 9.51349 2.96285 9.43217 3.07932 9.37464C3.1958 9.31712 3.33003 9.28835 3.48202 9.28835C3.63827 9.28835 3.77428 9.31605 3.89005 9.37145C4.00653 9.42614 4.09708 9.50213 4.16171 9.59943C4.22634 9.69673 4.25866 9.80824 4.25866 9.93395C4.25866 10.0163 4.24232 10.0977 4.20965 10.1779C4.17769 10.2582 4.12052 10.3473 4.03813 10.4453C3.95574 10.5426 3.83962 10.6594 3.68976 10.7958L3.37123 11.108V11.1229H4.28742V11.5H2.73202Z" fill="currentColor"/>
                        <path d="M3.49454 18.0298C3.33545 18.0298 3.19376 18.0025 3.06947 17.9478C2.94589 17.8924 2.84823 17.8164 2.7765 17.7198C2.70548 17.6225 2.6689 17.5103 2.66677 17.3832H3.13126C3.1341 17.4364 3.1515 17.4833 3.18346 17.5238C3.21613 17.5636 3.25945 17.5945 3.31343 17.6165C3.36741 17.6385 3.42813 17.6495 3.49561 17.6495C3.56592 17.6495 3.62806 17.6371 3.68204 17.6122C3.73602 17.5874 3.77828 17.5529 3.80882 17.5089C3.83936 17.4648 3.85463 17.4141 3.85463 17.3565C3.85463 17.2983 3.83829 17.2468 3.80562 17.2021C3.77366 17.1566 3.72749 17.1211 3.66713 17.0955C3.60747 17.07 3.53644 17.0572 3.45406 17.0572H3.25058V16.7184H3.45406C3.52366 16.7184 3.58509 16.7063 3.63836 16.6822C3.69234 16.658 3.73424 16.6246 3.76407 16.582C3.7939 16.5387 3.80882 16.4883 3.80882 16.4308C3.80882 16.3761 3.79568 16.3281 3.7694 16.2869C3.74383 16.245 3.70761 16.2124 3.66073 16.1889C3.61457 16.1655 3.56059 16.1538 3.4988 16.1538C3.4363 16.1538 3.37913 16.1651 3.32728 16.1879C3.27544 16.2099 3.23389 16.2415 3.20264 16.2827C3.17139 16.3239 3.1547 16.3722 3.15257 16.4276H2.71045C2.71258 16.3018 2.74845 16.1911 2.81805 16.0952C2.88765 15.9993 2.9814 15.9244 3.0993 15.8704C3.21791 15.8157 3.35178 15.7884 3.50093 15.7884C3.6515 15.7884 3.78325 15.8157 3.89617 15.8704C4.0091 15.9251 4.09681 15.9989 4.15931 16.092C4.22252 16.1843 4.25377 16.288 4.25306 16.4031C4.25377 16.5252 4.21578 16.6271 4.13907 16.7088C4.06308 16.7905 3.964 16.8423 3.84184 16.8643V16.8814C4.00235 16.902 4.12451 16.9577 4.20832 17.0487C4.29284 17.1388 4.33474 17.2518 4.33403 17.3874C4.33474 17.5117 4.29887 17.6222 4.22643 17.7188C4.1547 17.8153 4.05562 17.8913 3.9292 17.9467C3.80278 18.0021 3.65789 18.0298 3.49454 18.0298Z" fill="currentColor"/>
                        <path d="M6.5625 17.0625H18.375" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                        
                </div>

                <div class="input-option input-head-child">
                    <svg class="paragraph" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7812 19.6875C13.6072 19.6875 13.4403 19.6184 13.3172 19.4953C13.1941 19.3722 13.125 19.2053 13.125 19.0312V2.625H11.8125V19.0312C11.8125 19.2053 11.7434 19.3722 11.6203 19.4953C11.4972 19.6184 11.3303 19.6875 11.1562 19.6875C10.9822 19.6875 10.8153 19.6184 10.6922 19.4953C10.5691 19.3722 10.5 19.2053 10.5 19.0312V11.8125H9.1875C7.79511 11.8125 6.45976 11.2594 5.47519 10.2748C4.49062 9.29025 3.9375 7.95489 3.9375 6.5625C3.9375 5.17011 4.49062 3.83476 5.47519 2.85019C6.45976 1.86562 7.79511 1.3125 9.1875 1.3125H16.4062C16.5803 1.3125 16.7472 1.38164 16.8703 1.50471C16.9934 1.62778 17.0625 1.7947 17.0625 1.96875C17.0625 2.1428 16.9934 2.30972 16.8703 2.43279C16.7472 2.55586 16.5803 2.625 16.4062 2.625H14.4375V19.0312C14.4375 19.2053 14.3684 19.3722 14.2453 19.4953C14.1222 19.6184 13.9553 19.6875 13.7812 19.6875Z" fill="currentColor"/>
                    </svg>
                        
                    <svg class="heading" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_103_394)">
                        <path d="M14.875 9.625V3.5H16.625V18.375H14.875V11.375H6.125V18.375H4.375V3.5H6.125V9.625H14.875Z" fill="currentColor"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_103_394">
                        <rect width="21" height="21" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <svg class="list" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.28125 4.59375C3.64369 4.59375 3.9375 4.29994 3.9375 3.9375C3.9375 3.57506 3.64369 3.28125 3.28125 3.28125C2.91881 3.28125 2.625 3.57506 2.625 3.9375C2.625 4.29994 2.91881 4.59375 3.28125 4.59375Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.28125 11.1562C3.64369 11.1562 3.9375 10.8624 3.9375 10.5C3.9375 10.1376 3.64369 9.84375 3.28125 9.84375C2.91881 9.84375 2.625 10.1376 2.625 10.5C2.625 10.8624 2.91881 11.1562 3.28125 11.1562Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.28125 17.7188C3.64369 17.7188 3.9375 17.4249 3.9375 17.0625C3.9375 16.7001 3.64369 16.4062 3.28125 16.4062C2.91881 16.4062 2.625 16.7001 2.625 17.0625C2.625 17.4249 2.91881 17.7188 3.28125 17.7188Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 3.9375H18.375" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 10.5H18.375" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 17.0625H18.375" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                        
                    <svg class="image" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8306 1.53125H4.16937C2.71512 1.53125 1.53125 2.71425 1.53125 4.16937V16.8315C1.53125 18.2857 2.71425 19.4696 4.16937 19.4696H16.8315C18.2857 19.4696 19.4696 18.2866 19.4696 16.8315V4.16937C19.4687 2.71425 18.2857 1.53125 16.8306 1.53125ZM18.4135 16.8306C18.4135 17.703 17.7039 18.4135 16.8306 18.4135H4.16937C3.297 18.4135 2.5865 17.7039 2.5865 16.8306V14.9222L6.84425 10.1911L12.5956 15.4192L15.7762 12.7689L18.4144 14.9669L18.4135 16.8306ZM18.4135 13.594L15.7754 11.396L12.6245 14.021L6.76987 8.6975L2.5865 13.3455V4.16937C2.5865 3.297 3.29612 2.5865 4.16937 2.5865H16.8315C17.7039 2.5865 18.4144 3.29612 18.4144 4.16937L18.4135 13.594Z" fill="currentColor"/>
                        <path d="M14.1934 9.44477C15.6476 9.44477 16.8315 8.26177 16.8315 6.80664C16.8315 5.35152 15.6485 4.16852 14.1934 4.16852C12.7391 4.16852 11.5553 5.35152 11.5553 6.80664C11.5553 8.26177 12.7383 9.44477 14.1934 9.44477ZM14.1934 5.22464C15.0658 5.22464 15.7763 5.93427 15.7763 6.80752C15.7763 7.68077 15.0666 8.39039 14.1934 8.39039C13.3201 8.39039 12.6105 7.68077 12.6105 6.80752C12.6105 5.93427 13.3201 5.22464 14.1934 5.22464Z" fill="currentColor"/>
                    </svg>
                        
                </div>

                <div class="order-control input-head-child">
                    <svg disabled="true" class="arrow-up" width="19" height="11" viewBox="0 0 19 11"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.4637 10.9375L18.5625 9.76504L9.5 0.0625L0.4375 9.76504L1.53066 10.9375L9.5 2.41309L17.4637 10.9375Z" fill="currentColor"/>
                    </svg>
                    <svg disabled="true"  class="arrow-down" width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.09883 0L0 1.17246L9.0625 10.875L18.125 1.17246L17.0318 0L9.0625 8.52441L1.09883 0Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>


            <div class="input-type-panel">
                <div class="paragraph">
                    <svg class="paragraph" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7812 19.6875C13.6072 19.6875 13.4403 19.6184 13.3172 19.4953C13.1941 19.3722 13.125 19.2053 13.125 19.0312V2.625H11.8125V19.0312C11.8125 19.2053 11.7434 19.3722 11.6203 19.4953C11.4972 19.6184 11.3303 19.6875 11.1562 19.6875C10.9822 19.6875 10.8153 19.6184 10.6922 19.4953C10.5691 19.3722 10.5 19.2053 10.5 19.0312V11.8125H9.1875C7.79511 11.8125 6.45976 11.2594 5.47519 10.2748C4.49062 9.29025 3.9375 7.95489 3.9375 6.5625C3.9375 5.17011 4.49062 3.83476 5.47519 2.85019C6.45976 1.86562 7.79511 1.3125 9.1875 1.3125H16.4062C16.5803 1.3125 16.7472 1.38164 16.8703 1.50471C16.9934 1.62778 17.0625 1.7947 17.0625 1.96875C17.0625 2.1428 16.9934 2.30972 16.8703 2.43279C16.7472 2.55586 16.5803 2.625 16.4062 2.625H14.4375V19.0312C14.4375 19.2053 14.3684 19.3722 14.2453 19.4953C14.1222 19.6184 13.9553 19.6875 13.7812 19.6875Z" fill="currentColor"/>
                    </svg>
                    <p>Paragraph</p>
                </div>
                <div class="heading">
                    <svg class="heading" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_103_394)">
                        <path d="M14.875 9.625V3.5H16.625V18.375H14.875V11.375H6.125V18.375H4.375V3.5H6.125V9.625H14.875Z" fill="currentColor"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_103_394">
                        <rect width="21" height="21" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <p>Heading</p>
                </div>

                <div class="list">
                    <svg class="list" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.28125 4.59375C3.64369 4.59375 3.9375 4.29994 3.9375 3.9375C3.9375 3.57506 3.64369 3.28125 3.28125 3.28125C2.91881 3.28125 2.625 3.57506 2.625 3.9375C2.625 4.29994 2.91881 4.59375 3.28125 4.59375Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.28125 11.1562C3.64369 11.1562 3.9375 10.8624 3.9375 10.5C3.9375 10.1376 3.64369 9.84375 3.28125 9.84375C2.91881 9.84375 2.625 10.1376 2.625 10.5C2.625 10.8624 2.91881 11.1562 3.28125 11.1562Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.28125 17.7188C3.64369 17.7188 3.9375 17.4249 3.9375 17.0625C3.9375 16.7001 3.64369 16.4062 3.28125 16.4062C2.91881 16.4062 2.625 16.7001 2.625 17.0625C2.625 17.4249 2.91881 17.7188 3.28125 17.7188Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 3.9375H18.375" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/> 
                        <path d="M6.5625 10.5H18.375" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5625 17.0625H18.375" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>List</p>
                </div>
                <div class="image">                    
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8306 1.53125H4.16937C2.71512 1.53125 1.53125 2.71425 1.53125 4.16937V16.8315C1.53125 18.2857 2.71425 19.4696 4.16937 19.4696H16.8315C18.2857 19.4696 19.4696 18.2866 19.4696 16.8315V4.16937C19.4687 2.71425 18.2857 1.53125 16.8306 1.53125ZM18.4135 16.8306C18.4135 17.703 17.7039 18.4135 16.8306 18.4135H4.16937C3.297 18.4135 2.5865 17.7039 2.5865 16.8306V14.9222L6.84425 10.1911L12.5956 15.4192L15.7762 12.7689L18.4144 14.9669L18.4135 16.8306ZM18.4135 13.594L15.7754 11.396L12.6245 14.021L6.76987 8.6975L2.5865 13.3455V4.16937C2.5865 3.297 3.29612 2.5865 4.16937 2.5865H16.8315C17.7039 2.5865 18.4144 3.29612 18.4144 4.16937L18.4135 13.594Z" fill="currentColor"/>
                        <path d="M14.1934 9.44477C15.6476 9.44477 16.8315 8.26177 16.8315 6.80664C16.8315 5.35152 15.6485 4.16852 14.1934 4.16852C12.7391 4.16852 11.5553 5.35152 11.5553 6.80664C11.5553 8.26177 12.7383 9.44477 14.1934 9.44477ZM14.1934 5.22464C15.0658 5.22464 15.7763 5.93427 15.7763 6.80752C15.7763 7.68077 15.0666 8.39039 14.1934 8.39039C13.3201 8.39039 12.6105 7.68077 12.6105 6.80752C12.6105 5.93427 13.3201 5.22464 14.1934 5.22464Z" fill="currentColor"/>
                    </svg>
                    <p>Image</p>
                </div>
            </div>
            <button type="submit" class="btn-create-post btn-submit" style="float: right;margin: 40px 0;">Done</button>
        </form>
     
       
    </div>
    <script src="/styles/form.js"></script>
</body>



