<%- include('partials/header')  %>
<body>
    <%- include('partials/navbar') %>
    <main class="my-container">
        <div class="hero">
            <img src="/images/abstract.png" alt="">
            <div class="hero-content">
                <h1 >Only You Can Tell
                    How <span>Your Story</span>
                    Going To Start</h1>
                <p>with simplicity modern and aesthetic, 
                    your audience going to love this  </p>
                <button class="btn-create-post">Create Post</button>
            </div>
        </div>
    </main>

    <div class="my-container">
        <div class="features">
            <h2>Features</h2>
            <img src="/images/office.png" alt="">
            <div class="feature-content">
                <div class="feature">
                    <div class="box">
                        <img src="/images/simple.svg" alt="">
                    </div>
                    <div class="content">
                        <h3>Simple <br> Design</h3>
                        <p>with simplicity modern and aesthetic your audience going to love this</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="box">
                        <img src="/images/cube.svg" alt="">
                    </div>
                    <div class="content">
                        <h3>Modern <br> Look</h3>
                        <p>with simplicity modern and aesthetic your audience going to love this</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="box">
                        <img src="/images/tickbox.svg" alt="">
                    </div>
                    <div class="content">
                        <h3>Aesthetic <br>  Design</h3>
                        <p>with simplicity modern and aesthetic your audience going to love this</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="my-container">
        <div class="about-us" id="about-us">
            <h2>About Us</h2>
            <div class="about-us-content">
                <div class="content">
                    <p>with simplicity modern and aesthetic your audience going to love this  with simplicity modern and aesthetic your audience going to love this  with simplicity modern and aesthetic your audience going to love this  with simplicity modern and aesthetic your audience going to love this  </p>
                    <p>with simplicity modern and aesthetic your audience going to love this  with simplicity modern and aesthetic your audience going to love this  with simplicity modern and aesthetic your audience going to love this  with simplicity modern and aesthetic your audience going to love this  </p>
                </div>
                <img src="/images/laptop.png" alt="">
            </div>
        </div>
    </div>

    <div class="my-container">
        <h2 id="contact">Contact</h2>
        <div class="contact" >
            <form action="#"  method="post">
                <div class="name">
                    <label for="name">Name: </label>
                    <input type="text" name="name">
                </div>
                <div class="email">
                    <label for="email">Email: </label>
                    <input type="text" name="email">
                </div>
                <div class="message">
                    <label for="message">Message: </label>
                    <textarea name="message" id="" cols="30" rows="20"></textarea>
                </div>
                <button type="submit" class="btn-create-post">Send</button>
            </form>
            <img src="/images/working.png" alt="">
        </div>
    </div>
    <%- include('partials/footer') %>
    
    <script src="/styles/index.js"></script>
</body>        
